/PokemonGBAFrameWork/bin/Debug/netstandard2.0/PokemonGBAFrameWork.dll
/PokemonGBAFrameWork/bin/Debug/netstandard2.0/PokemonGBAFrameWork.pdb
/PokemonGBAFrameWork/bin/Debug/netstandard2.0/PokemonGBAFrameWork.deps.json
